td {
  padding: 0px 20px;
}
.char-bonobo {
  background-color: #fc6969;
}
.char-premium {
  background-color: gold;
}
.char-collection {
  background-color: #9fff9f;
}
.char-normal {
  background: #c4ffff;
}
